*.o
*.hi
*.pyc
multiples3and5
fibsum
largestprimefactor
largestprimefactor2
longestcollatz
nonabundantsums
digitpowers
pandigitalprods
circprimes
doublepalindromes
truncprimes
pandigital
intrighttri
champernowne
pandigprime
codedtrinum
substringdiv
pentagonnum
tripentahexa
goldbachother
distinctprimefac
selfpowers
primeperm
primeperm2
